[Unit]
Description=Extended Mind Backend
After=docker.service
After=flanneld.service
After=confd.service
Requires=docker.service
Requires=flanneld.service
Requires=confd.service

[Service]
Restart=always|on-failure
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm backend
ExecStartPre=/usr/bin/docker pull extendedmind/backend:latest
ExecStart=/usr/bin/docker run --name backend \
--volumes-from CONF-BACKEND --volumes-from DATA-BACKEND -p 6362:6362 -p 8081:8081 \
extendedmind/backend:latest

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=node
