[Unit]
Description=Extended Mind Backend
After=docker.service
After=flanneld.service
After=confd.service
Requires=docker.service
Requires=flanneld.service
Requires=confd.service

[Service]
Restart=on-failure
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm backend
ExecStartPre=-/usr/bin/flock /var/lock /usr/bin/timeout 5m /usr/bin/docker pull extendedmind/backend:latest
ExecStart=/usr/bin/docker run --name backend \
--volumes-from backend-conf --volumes-from DATA-BACKEND -p 6362:6362 -p 8081:8081 \
extendedmind/backend:latest
ExecStop=/bin/bash -c "/usr/bin/curl -X POST localhost:8081/v2/shutdown && sleep 5"

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=node
