[Unit]
Description=Extended Mind Backend Backup
After=docker.service
After=flanneld.service
After=backend.service
Requires=docker.service
Requires=flanneld.service
Requires=backend.service

[Service]
EnvironmentFile=/etc/metadata
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm backend-backup
ExecStartPre=-/usr/bin/flock /var/lock /usr/bin/timeout 5m /usr/bin/docker pull extendedmind/backend-backup:latest
ExecStart=/usr/bin/docker run --name backend-backup \
--link backend:backend \
extendedmind/backend-backup:latest ${BACKUP_BUCKET_PATH} gsutil

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=node
