[Unit]
Description=Discover Backend IP Address
BindsTo=backend.service
After=backend.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c "while [ -z \"$(docker inspect -f '{{.NetworkSettings.IPAddress}}' backend)\" ]; do sleep 1; done; while true; do etcdctl set /extendedmind/backend/hosts/${COREOS_PRIVATE_IPV4} \"$(docker inspect -f '{{.NetworkSettings.IPAddress}}' backend)\" --ttl 60; sleep 45; done"
ExecStop=/usr/bin/etcdctl rm /extendedmind/backend/hosts/${COREOS_PRIVATE_IPV4} || true

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=node
