[Unit]
Description=Confd
After=docker.service
After=flanneld.service
After=mongodb-conf.service
After=backend-conf.service
After=nginx-conf.service
After=cube-conf.service
Requires=docker.service
Requires=flanneld.service
Requires=mongodb-conf.service
Requires=backend-conf.service
Requires=nginx-conf.service
Requires=cube-conf.service

[Service]
Restart=on-failure
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/metadata
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm confd
ExecStartPre=-/usr/bin/flock /var/lock /usr/bin/timeout 5m /usr/bin/docker pull extendedmind/confd:latest
ExecStart=/usr/bin/docker run -e HOST_ID=${HOST_ID} -e HOST_IP=${COREOS_PRIVATE_IPV4} -e SLAVE_COUNT=${SLAVE_COUNT} --name confd \
--volumes-from mongodb-conf --volumes-from backend-conf --volumes-from nginx-conf --volumes-from cube-conf --volumes-from site-conf \
extendedmind/confd:latest -node=http://${COREOS_PRIVATE_IPV4}:2379 -watch=true

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=node
