[Unit]
Description=MongoDB Configuration Templates
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Type=oneshot
RemainAfterExit=true
ExecStartPre=-/usr/bin/docker rm CONF-CUBE
ExecStartPre=/usr/bin/docker pull extendedmind/cube-conf:latest
ExecStart=/usr/bin/docker create --name CONF-CUBE extendedmind/cube-conf:latest

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=node
