[Unit]
Description=Nginx
After=etcd2.service docker.service flanneld.service confd.service backend.service site.service ${extra.nginx.dependencies}
Requires=etcd2.service docker.service flanneld.service confd.service backend.service site.service ${extra.nginx.dependencies}

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=-/usr/bin/flock /var/lock /usr/bin/timeout 5m /usr/bin/docker pull extendedmind/nginx:latest
ExecStart=/usr/bin/docker run --name nginx \
--volumes-from nginx-conf --volumes-from DATA-FRONTEND \
--link backend:backend --link site:site  \
-p 8008:8008 ${extra.nginx.run} \
extendedmind/nginx:latest

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=node
