[Unit]
Description=Nginx
After=docker.service
After=flanneld.service
After=confd.service
After=backend.service
After=cube-evaluator.service
After=cube-collector.service
After=frontend.service
Requires=docker.service
Requires=flanneld.service
Requires=confd.service
Requires=backend.service
Requires=cube-evaluator.service
Requires=cube-collector.service
Requires=frontend.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=/usr/bin/docker pull extendedmind/nginx:latest
ExecStartPre=/usr/bin/bash -c "if [[ -n $(/usr/bin/etcdctl ls /extendedmind | grep nginxextra) ]]; then /usr/bin/systemctl set-environment NGINX_EXTRA=''; else /usr/bin/systemctl set-environment NGINX_EXTRA=$(/usr/bin/etcdctl get /extendedmind/nginxextra);"
ExecStart=/usr/bin/docker run --name nginx \
--volumes-from CONF-NGINX --volumes-from DATA-FRONTEND \
--link backend:backend --link cube-evaluator:evaluator --link cube-collector:collector --link site:site ${NGINX_EXTRA} \
-p 591:591 -p 8008:8008 \
extendedmind/nginx:latest

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=node
