[Unit]
Description=Nginx
After=etcd2.service
After=docker.service
After=flanneld.service
After=confd.service
After=backend.service
After=cube-evaluator.service
After=cube-collector.service
After=site.service
Requires=etcd2.service
Requires=docker.service
Requires=flanneld.service
Requires=confd.service
Requires=backend.service
Requires=cube-evaluator.service
Requires=cube-collector.service
Requires=site.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=-/usr/bin/flock /var/lock /usr/bin/timeout 5m /usr/bin/docker pull extendedmind/nginx:latest
# This should have worked, but does not for some weird reason:
# ExecStartPre=-/bin/bash -c "if [ -z $(/usr/bin/etcdctl ls /extendedmind | grep nginxextra) ];
# then /usr/bin/systemctl set-environment NGINX_EXTRA=\"\";
# else /usr/bin/systemctl set-environment NGINX_EXTRA=\"$(/usr/bin/etcdctl get /extendedmind/nginxextra)\"; fi;"
ExecStart=/usr/bin/docker run --name nginx \
--volumes-from nginx-conf --volumes-from DATA-FRONTEND \
--link backend:backend --link cube-evaluator:evaluator --link cube-collector:collector --link site:site \
--link fiak-site:site2 -p 8009:8009 \
-p 8008:8008 \
extendedmind/nginx:latest

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=node
