[Unit]
Description=Extended Mind Hourly Ticker
BindsTo=backend.service
After=backend.service

[Timer]
# Wait five minutes before launching the first tick to make sure everything is up and running
OnBootSec=5min
OnUnitActiveSec=1h
Unit=tick-hourly.service

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=node